$colors: (white:#ffffff,
primary: #488aff,
secondary: #32db64,
content_background: #e5e5e5,
danger: #f53d3d,
search: #109D58,
light: #f4f4f4,
dark: #222,
red: #cc1e37,
green: #5ecf77,
gray:#9a9a9a,
gray_light: rgba(248, 246, 227, 0.8),
main_color: #432E27,
error: #fd1437,
blue_buttons:#0285A8,
blue_buttons_dark:#02547D,
button_disabled:#9a9a9a,
button_disabled_text: #797979,
menu: #0285A8,
menu_hover: #003049,
menu_dark: #02547D
);